# Required Vars
API_HASH=2f390e96427597a832ab7246bf1955c5
API_ID=21274991
BOT_TOKEN=6842734296:AAE0LGPOrx4HrZM9pZeoa-Qf1RvHaeVduSw
DATABASE_URI=mongodb+srv://aung1501:thuyein001@cluster0.ncytmk1.mongodb.net/?retryWrites=true&w=majority
LOG_CHANNEL=1001874022732

# Optional Vars
SUDO=6482623457
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=ParadiseXChannel
COMMAND_HANDLER=
USER_SESSION=
OPENAI_API=
BARD_API=
CURRENCY_API=
